<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div style="margin-top:100px;">
<form  method="post" action="/check/downloadFile">
<input type="text" hidden="hidden" name="fileName" id="downLoadUp" value="a.txt">
    <input type="submit" value="通过下载" />
</form>
</div>
<div style="margin-top:30px;">
<form  method="post" action="/check/downloadFile">
<input type="text" hidden="hidden" name="fileName" id="downLoadUp" value="b.txt">
    <input type="submit" value="未通过下载" />
</form>
</div>
<div style="margin-top:30px;">
<form  method="post" action="/check/downloadFile">
<input type="text" hidden="hidden" name="fileName" id="downLoadUp" value="c.txt">
    <input type="submit" value="异常下载" />
</form>
</div>
</body>
<script type="text/javascript">
//导入excel文件
</script>
</html>