<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>文件上传666</title>
</head>
<body>
<div style="margin-top:60px;margin-left:50px;">
<form enctype="multipart/form-data" method="post" action="/api/government/updateSourceAddress">
        
    <div style="margin-top:30px;">选择文件：<input type="file" name="file" /> </div>
    
    <div style="margin-top:30px;">检测文件：<input type="submit" value="开始检测" /></div>
</form>
<form enctype="multipart/form-data" method="post" action="/api/download/upload">
        
    <div style="margin-top:30px;">选择文件：<input type="file" name="file" /> </div>
    
    <div style="margin-top:30px;">检测文件：<input type="submit" value="下载文件" /></div>
</form>
</div>
</body>
<script type="text/javascript">
//导入excel文件
</script>
</html>